
:root {
  --bg-color: #282828;
  --green: #00AD50;
  --green-shadow: rgb(0, 141, 65, 1);
  --drop-shadow-green: drop-shadow(0px 0px 2px var(--green-shadow));
}

h3 {
  font-size: 5rem;
}

@font-face {
  font-family: "KodeMono";
  src: url('@/assets/font/KodeMono-Regular.ttf');
}
@font-face {
  font-family: "KodeMono-Medium";
  src: url('@/assets/font/KodeMono-Medium.ttf');
}

body {
  width: 100vw;
  background: var(--bg-color);
  color: white;
  font-family: 'KodeMono-Medium', serif;
}

/*div {*/
/*  border: 1px solid red;*/
/*}*/

#app {
  width: 100%;
  height: 100%;
}
